body {
    background-image: url("https://media.istockphoto.com/photos/mature-black-and-white-cow-head-gentle-look-pink-nose-in-front-of-a-picture-id1205758678?k=20&m=1205758678&s=612x612&w=0&h=dCQ9h8nJ0T4i9u_ue0zpW5FUwwpOs1EloUWrY5lI1kM=");
    background-color: #cccccc;
   }
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  ul input {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
